ul {
  display: flex;
  justify-content: space-between;
  gap: .5rem;

  list-style: none;
  padding: .5rem;
}

li {
  border: solid 1px #213547;
  border-radius: 4px;
  padding: .5rem;
}
li:hover {
  background: #cfcfcf;
  cursor: pointer;
}

